# Node & Frontend
node_modules/
dist/
.env

# Python
__pycache__/
venv/
*.pyc
mock_database.db

# Go
order-service/order-service

# Java
target/
*.jar

# OS Files
.DS_Store

# Terraform state files (NEVER commit)
*.tfstate
*.tfstate.*
crash.log

# Terraform internal cache only
**/.terraform/*

# Optional: local sensitive files
*.tfvars

# Security, SSH, and Cloud Keys
*.pem
*.pub
id_rsa*
id_ed25519*
terraform-ec2-key*
.aws/
